{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bikroy.com</title>
    <link rel="shortcut icon" href="{% static 'img/title_icon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/customMyAccountPage.css'%}">
    <link rel="stylesheet" href="{% static 'css/customAllAdsPage.css'%}">
</head>
<body>
    <!-- navigation bar start -->
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand"  href='home' style="margin-left: 200px"><img src="{% static 'img/bikroy-com-logo.png' %}" alt="bikroy.com"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link text-light" href='all_ads'>All ads</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto" style="margin-right: 105px">
                    <li class="nav-item">
                        <a class="nav-link text-light mr-2" href='chat'>chat</a>
                    </li>
                    <li class="nav-item">
                    	<button class="btn btn-light text-light my-account-btn mr-3" disabled>My Account</button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn shadow-sm rounded text-dark post-ad-btn" href='post_ad'>POST YOUR AD</a>
                    </li>
                </ul>
            </div>
            <a class="nav-link text-light" href="signout">Sign out</a>
        </nav>
    </div>

    <!-- navigation bar end -->

    <div style="margin-top: 70px"></div>
    
    <!-- body content start -->
    <div class="container border rounded shadow-sm py-5 px-5 body-content">
	  	<div class="row">
			<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
				<div class="sidebar-sticky pt-3">
					<ul class="nav flex-column">
						<li class="nav-item">
							<h5 class="font-weight-bold text-center mb-5">Account</h5>
						</li>
						<li class="nav-item">
							<a class="nav-link" href='my_account_page'>
                                My Account
                            </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href='my_membership_page'>
								My membership
							</a>
						</li>
						<li class="nav-item">
							<h6 class="font-weight-bold text-dark ml-3 my-3">Favorites</h6>
						</li>
						<li class="nav-item">
							<a class="nav-link" href='settings'>
								Settings
							</a>
						</li>
					</ul>
				</div>
			</nav>
			<div class="col-8 mx-5 my-5">

                <h3 class="text-dark">Favorites</h3>
                <div class="border-top mb-3"></div>

                {% if not fav_ads %}
                    <h4 class="text-dark py-2">You haven't marked any ads as favorite yet.</h4>
                    <p>Click on the star symbol on any ad to save it as a favorite.
                        Start to <a class="link" href='all_ads'>browse ads</a> to find ads you would like to favorite.</p>

                {% else %}
                    <!-- one post start -->
                    {% for post_id, post_title, _, time, price, _, condition, category, sub_category, location, sub_location, _, _, _, post_img, _, _ in fav_ads %}
                     <form method="post" action='get_ad'>
                        {% csrf_token %}
                        <input type="hidden" name="view_post_id" value="{{ post_id }}" />
                        <a class="d-block nav-link  p-2 rounded border-top border-bottom post-ad" onclick="this.parentNode.submit();">
                            <img class=" mr-2 post-ad-img" src="/media/{{post_img}}"/>
                            <p class="font-weight-bold text-dark text-truncate h6 mx-3">{{post_title}} ({{ condition }})</p>

                            <p class="text-muted post-ad-tags">
                                {{location}}, {{ sub_location }}, {{category}}, {{ sub_category }}
                            </p>

                            <h5 class="post-ad-price">Tk {{price}}</h5>
                            <p class="text-muted" style="text-align: right;">{{time}}</p>
                        </a>
                     </form>
                    {% endfor %}
                    <!-- one post end -->
                {% endif %}
			</div>


		</div>
    </div>
    <!-- body content end -->

    <div style="height: 10rem"></div>

    <!-- footer start -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <nav class="col-sm">
                    <p class="h5">Learn More</p>
                    <ul>
                        <li class="nav-link">
                            <a href="sell_fast">How to sell fast</a>
                        </li>
                        <li class="nav-link">
                            <a href="membership">Membership</a>
                        </li>
                        <li class="nav-link">
                            <a href="banner">Banner Advertising</a>
                        </li>
                        <li class="nav-link">
                            <a href="promote_ad">Promote your ad</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">Help & Support</p>
                    <ul>
                        <li class="nav-link">
                            <a href="faq">FAQ</a>
                        </li>
                        <li class="nav-link">
                            <a href="stay_safe">Stay safe on Bikroy.com</a>
                        </li>
                        <li class="nav-link">
                            <a href="contact_us">Contact us</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">Social</p>
                    <ul>
                        <li class="nav-link">
                            <a href="http://blog.bikroy.com/" rel="nofollow" target="_blank">Blog</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.facebook.com/bikroy" rel="nofollow" target="_blank">Facebook</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://twitter.com/bikroy_com" rel="nofollow" target="_blank">Twitter</a>
                        </li>
                        <li class="nav-link">
                            <a href="http://www.youtube.com/user/BikroyBD" rel="nofollow" target="_blank">YouTube</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">About us</p>
                    <ul>
                        <li class="nav-link">
                            <a href="about_us">About us</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://bikroy.com/en/shops/careers">Careers</a>
                        </li>
                        <li class="nav-link">
                            <a href="terms_cond">Terms & Conditions</a>
                        </li>
                        <li class="nav-link">
                            <a href="privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

    <!-- footer end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/customMyAccountPage.js' %}"></script>
</body>
</html>
