{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>bikroy.com</title>
    <link rel="shortcut icon" href="{% static 'img/title_icon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/customFooterLinks.css'%}">
</head>
<body>
    <!-- navigation bar start -->
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand"  href='home' style="margin-left: 200px"><img src="{% static 'img/bikroy-com-logo.png' %}" alt="bikroy.com"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link text-light" href='all_ads'>All ads</a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {% if username %}
                <ul class="navbar-nav ml-auto" style="margin-right: 105px">
                {% else %}
                <ul class="navbar-nav ml-auto" style="margin-right: 200px">
                {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='chat'>chat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='my_account_page'>
                            {% if username %}
                            My Account
                            {% else %}
                            Log In
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn shadow-sm rounded text-dark post-ad-btn" href='post_ad'>POST YOUR AD</a>
                    </li>
                </ul>
            </div>

            {% if username %}
            <a class="nav-link text-light" href='signout'>Sign out</a>
            {% endif %}

        </nav>
    </div>

    <!-- navigation bar end -->

    <div style="margin-top: 70px"></div>

    <!-- body content start -->
    <div class="container border rounded shadow-sm py-5 px-5 body-content">
	  	<div class="ui-panel-content ui-panel-block">
            <div class="row">
                <div class="col-12 lg-8 lg-offset-2 privacy-policy">
                    <h1>Privacy Policy</h1>
                        <p>In order for the website to provide a safe and useful service, it is important for Bikroy.com to collect, use, and share personal information.</p>
                    <h2>Collection</h2>
                        <p>Information posted on Bikroy.com is publicly available. If you choose to provide us with personal information, you are consenting to the transfer and storage of that information on our servers. We collect and store the following personal information:</p>
                        <ul>
                            <li>Email address, contact information, and (depending on the service used) sometimes financial information<br>Computer sign-on data, statistics on page views, traffic to and from Bikroy.com and response to advertisements</li>
                            <li>Other information, including users' IP address and standard web log information.</li>
                        </ul>
                    <h2>Use</h2>
                    <p>We use users' personal information to:</p>
                        <ul>
                            <li>Provide our services</li>
                            <li>Resolve disputes, collect fees, and troubleshoot problems</li>
                            <li>Encourage safe trading and enforce our policies </li>
                            <li>Customize users experience, measure interest in our services</li>
                            <li>Improve our services and inform users about services and updates</li>
                            <li>Communicate marketing and promotional offers to you according to your preferences</li>
                            <li>Do other things for users as described when we collect the information</li>
                        </ul>
                    <h2>Disclosure</h2>
                        <p>We don't sell or rent users' personal information to third parties for their marketing purposes without users' explicit consent. We may disclose personal information to respond to legal requirements, enforce our policies, respond to claims that a posting or other content violates other's rights, or protect anyone's rights, property, or safety.</p>
                    <h2>Communication and email tools</h2>
                        <p>You agree to receive marketing communications about consumer goods and services on behalf of our third party advertising partners unless you tell us that you prefer not to receive such communications. If you don't wish to receive marketing communications from us, simply indicate your preference by following directions provided with the communication. You may not use our site or communication tools to harvest addresses, send spam or otherwise breach our Terms of Use or Privacy Policy. We may automatically scan and manually filter email messages sent via our communication tools for malicious activity or prohibited content. If you use our tools to send content to a friend, we don't permanently store your friends' addresses or use or disclose them for marketing purposes. To report spam from other users, please contact customer support.</p>
                    <h2>Security</h2>
                        <p>We use lots of tools (encryption, passwords, physical security) to protect your personal information against unauthorized access and disclosure.</p>
                        <p>All personal electronic details will be kept private by the Service except for those that you wish to disclose.<br>It is unacceptable to disclose the contact information of others through the Service.<br>If you violate the laws of your country of residence and/or the terms of use of the Service you forfeit your privacy rights over your personal information.</p>
                    <h3>Contact details</h3>
                        <p>Customer Support e-mail: <a href="mailto:support@bikroy.com">support@bikroy.com</a></p>
                    <h3>Unsubscribe information</h3>
                        <p>If at any time you wish to have your information reviewed or removed from our active databases, please contact us at <a href="mailto:support@bikroy.com">support@bikroy.com</a>. Additionally, you will be able to unsubscribe anytime by clicking on the unsubscribe link at the bottom of all our email communications.</p>
                        <p>This website makes use of Display Advertising, and uses Remarketing technology with Google Analytics to advertise online. Third-party vendors, including Google, may show our ads on various websites across the Internet, using first-party cookies and third-party cookies together to inform, optimize, and serve ads based on past visits to our website.</p>
                        <p>Visitors can opt-out of Google Analytics for Display Advertising and customize Google Display Network ads using the Ads Preferences Manager.</p>
                 </div>
            </div>
        </div>
    </div>
    <!-- body content end -->

    <div style="height: 10rem"></div>

    <!-- footer start -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <nav class="col-sm">
                    <p class="h5">Learn More</p>
                    <ul>
                        <li class="nav-link">
                            <a href="sell_fast">How to sell fast</a>
                        </li>
                        <li class="nav-link">
                            <a href="membership">Membership</a>
                        </li>
                        <li class="nav-link">
                            <a href="banner">Banner Advertising</a>
                        </li>
                        <li class="nav-link">
                            <a href="promote_ad">Promote your ad</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">Help & Support</p>
                    <ul>
                        <li class="nav-link">
                            <a href="faq">FAQ</a>
                        </li>
                        <li class="nav-link">
                            <a href="stay_safe">Stay safe on Bikroy.com</a>
                        </li>
                        <li class="nav-link">
                            <a href="contact_us">Contact us</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">Social</p>
                    <ul>
                        <li class="nav-link">
                            <a href="http://blog.bikroy.com/" rel="nofollow" target="_blank">Blog</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.facebook.com/bikroy" rel="nofollow" target="_blank">Facebook</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://twitter.com/bikroy_com" rel="nofollow" target="_blank">Twitter</a>
                        </li>
                        <li class="nav-link">
                            <a href="http://www.youtube.com/user/BikroyBD" rel="nofollow" target="_blank">YouTube</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">About us</p>
                    <ul>
                        <li class="nav-link">
                            <a href="about_us">About us</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://bikroy.com/en/shops/careers">Careers</a>
                        </li>
                        <li class="nav-link">
                            <a href="terms_cond">Terms & Conditions</a>
                        </li>
                        <li class="nav-link">
                            <a href="privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

    <!-- footer end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/customMyAccountPage.js' %}"></script>
</body>
</html>