{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin | Bikroy.com</title>
    <link rel="shortcut icon" href="{% static 'img/title_icon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/customAllAdsPage.css'%}">
    <link rel="stylesheet" href="{% static 'css/customFooterLinks.css' %}">
</head>
<body>
	<!-- navigation bar start -->
    <div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand"  href='home' style="margin-left: 200px"><img src="{% static 'img/bikroy-com-logo.png' %}" alt="bikroy.com"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto" style="margin-right: 105px">
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='AdminPage'>Admin Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='remove_post_ad'>Remove Ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='update_post_type'>Promote Ads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='make_member'>Make Members</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='add_loc_cat'>Add New Location and Category</a>
                    </li>
                    {% if manager %}
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='make_admin'>Make Admin</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link text-light mr-3" href='signout'>Sign out</a>
                    </li>
                </ul>
            </div>

        </nav>
    </div>

    <!-- navigation bar end -->


    <div style="margin-top: 70px"></div>
    
    <!-- body content start -->
    
    <div class="container border rounded shadow-sm py-5 px-5 body-content">

        <h3 class="font-weight-bold text-dark">{{ title }} <span class="badge badge-secondary">{{ condition }}</span></h3>
        <p class="text-muted">Posted on {{ time }}, {{ sublocation }}, {{ location }}</p>

        <div class="row">
            <div class="col-7">
                <img src="/media/{{ image_name }}" width="100%">
                <h3 class="py-3 post-ad-price">Tk {{price}}</h3>

                <div id="desc" {% if desc_len > 10000 %}  class="collapse" {% endif %}>
                    <h5 class="text-dark">Description</h5>
                    <h6>{% if is_nego == 'Y' %}Negotiable{% endif %}</h6>
                    <p>
                        {{ description }}
                    </p>
                </div>
                 {% if desc_len > 10000 %}
                    <a data-toggle="collapse" data-target="#desc">Show more</a>
                 {% endif %}
            </div>
            <div class="col-5">
                <div class="card">
                    <div class="card-header">For sale by <b class="text-dark">{{ poster_name }}</b></div>
                    <div class="card-body">
                        <p class="text-dark font-weight-bold">
                            <img src="{% static "img/contact-us.png" %}" height="30px">  Call seller: {{ contact_num }}</p>
                    </div>
                    <div class="card-footer">

                    </div>
                </div>
            </div>
        </div>


        <hr class="py-3">
        <div class="row text-center">
            <div class="col">
                <form method="post" action='approve_ad'>
                    {% csrf_token %}
                    <input type="hidden" name="Approved_prod_id" value="{{ post_id }}" />
                    <a class="btn btn-block btn-outline-success" onclick="this.parentNode.submit();">Approve</a>
                </form>
            </div>
            <div class="col mx-auto">
                <form method="post" action='discard_ad'>
                    {% csrf_token %}
                    <input type="hidden" name="discarded_ad_id" value="{{ post_id }}" />
                    <a class="btn btn-block btn-outline-danger" onclick="this.parentNode.submit();">Discard</a>
                </form>
            </div>
        </div>
    </div>

    <!-- body content end -->

    <div style="height: 10rem"></div>

    <!-- footer start -->
    <footer class="footer mt-auto py-3">
        <div class="container">
            <div class="row">
                <nav class="col-sm">
                    <p class="h5">Learn More</p>
                    <ul>
                        <li class="nav-link">
                            <a href="sell_fast">How to sell fast</a>
                        </li>
                        <li class="nav-link">
                            <a href="membership">Membership</a>
                        </li>
                        <li class="nav-link">
                            <a href="banner">Banner Advertising</a>
                        </li>
                        <li class="nav-link">
                            <a href="promote_ad">Promote your ad</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">Help & Support</p>
                    <ul>
                        <li class="nav-link">
                            <a href="faq">FAQ</a>
                        </li>
                        <li class="nav-link">
                            <a href="stay_safe">Stay safe on Bikroy.com</a>
                        </li>
                        <li class="nav-link">
                            <a href="contact_us">Contact us</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">Social</p>
                    <ul>
                        <li class="nav-link">
                            <a href="http://blog.bikroy.com/" rel="nofollow" target="_blank">Blog</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://www.facebook.com/bikroy" rel="nofollow" target="_blank">Facebook</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://twitter.com/bikroy_com" rel="nofollow" target="_blank">Twitter</a>
                        </li>
                        <li class="nav-link">
                            <a href="http://www.youtube.com/user/BikroyBD" rel="nofollow" target="_blank">YouTube</a>
                        </li>
                    </ul>
                </nav>
                <nav class="col-sm">
                    <p class="h5">About us</p>
                    <ul>
                        <li class="nav-link">
                            <a href="about_us">About us</a>
                        </li>
                        <li class="nav-link">
                            <a href="https://bikroy.com/en/shops/careers">Careers</a>
                        </li>
                        <li class="nav-link">
                            <a href="terms_cond">Terms & Conditions</a>
                        </li>
                        <li class="nav-link">
                            <a href="privacy">Privacy Policy</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </footer>

    <!-- footer end -->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>